<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>California House Price Prediction</title>
</head>
<body>
  <h2>Enter Data for Prediction</h2>
  <form id="predictionForm" action="{{ url_for('predict') }}" method="post">
    <label for="MedInc">Median Income:</label>
    <input type="text" id="MedInc" name="MedInc"><br><br>
    
    <label for="HouseAge">Median House Age:</label>
    <input type="text" id="HouseAge" name="HouseAge"><br><br>
    
    <label for="AveRooms">Average Number of Rooms per Household:</label>
    <input type="text" id="AveRooms" name="AveRooms"><br><br>
    
    <label for="AveBedrms">Average Number of Bedrooms per Household:</label>
    <input type="text" id="AveBedrms" name="AveBedrms"><br><br>
    
    <label for="Population">Population:</label>
    <input type="text" id="Population" name="Population"><br><br>
    
    <label for="AveOccup">Average Number of Household Members:</label>
    <input type="text" id="AveOccup" name="AveOccup"><br><br>
    
    <label for="Latitude">Latitude:</label>
    <input type="text" id="Latitude" name="Latitude"><br><br>
    
    <label for="Longitude">Longitude:</label>
    <input type="text" id="Longitude" name="Longitude"><br><br>
    
    <button type="submit">Predict</button>
  </form>

  <br>
  <br>
  
  {{prediction_text}}

</body>
</html>